body{
	min-width:1500px;
}
ul {
	list-style-type: none;
}

/*header*/
.header-content{
	position: absolute;
	height: 92.51px;
	min-width:1500px;
	background: white;
}

.header-logo{
	width: 159px;
	height: 146px;
	margin-left: 62px;
}

.menu-list a{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	text-decoration:none;
}

#ideja {
	position: absolute;
	width: 46px;
	height: 24px;
	left: 305px;
	top: 51px;
}

#pieteikt {
	position: absolute;
	width: 130px;
	height: 24px;
	left: 386px;
	top: 51px;
}

#uznemejiem{
	position: absolute;
	width: 120px;
	height: 24px;
	left: 543px;
	top: 51px;
}

#banka{
	position: absolute;
	width: 123px;
	height: 45px;
	left: 698px;
	top: 51px;
}

#atbalsta{
	position: absolute;
	width: 153px;
	height: 45px;
	left: 856px;
	top: 51px;	
}

#iedvesma{
	position: absolute;
	width: 188px;
	height: 29px;
	left: 1036px;
	top: 51px;
}

.language{
	position: absolute;
	width: 29px;
	height: 29px;
	left: 1275px;
	top: 51px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
}

/*video*/
.video{
	height: 722px;
	left: 0px;
	top: 47px;
}

/*text*/
.info{
	top:769px;
	height:469px;
}
.info p{
	position: absolute;
	width: 654px;
	height: 114px;
	left: 359px;
	top: 919px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
 } 
 
 /*pictures*/
 .flex-container {
	 display:flex;
 }

 .side {
	 display:flex;
	 flex-direction:column;
 }
  .flex-container img{
	 display:block;
  } 
 
/*ripped form*/
.ripped{
	top: 1238px;
	height: 55px;
}

/*sapno-uznem*/
#questions{
	top:1581;
	height:429px;
}

#uznem{
	width: 120px;
	height: 24px;
	left: 543px;
	top: 51px;
}

.row{
	display:relative;
}

.column{
	display:absolute;
	top:50%;
	left:50%;
}

button{
	width: 184.63px;
	height: 50px;
	left: 856.19px;
	top: 1810px;
	border-radius:25px;
	background: #FFCB66;
}

button a{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
	text-decoration:none;
}



/*saziņas forma*/
.sazina{
	top:2010;
	height:817px;
}

#sub-btn{
	width: 184.63px;
	height: 50px;
	left: 856.19px;
	top: 1810px;
	border-radius:25px;
	background: #FFCB66;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
	text-decoration:none;
}
/*Atbalstītāji*/

#atbalstitaji{
	background-color:#FFCB66;
	height: 533.32px;
	top: 2827px;
 }
 
 #SEM-logo {
	position: relative;
	left: 0.05%;
	right: 61.92%;
	top: 0.16%;
	bottom: 0.05%;
}

.center {
	position: relative;
	display:block;
	margin-left:auto;
	margin-right: auto;
}


#back{
	position:static;
	z-index:1;
	left: 0.05%;
	right: 61.92%;
	top: 0.16%;
	bottom: 0.05%;
	}

#middle{
	position:static;
	z-index:2;
	left: 0.05%;
	right: 61.92%;
	top: 0.16%;
	bottom: 0.05%;
}
#front{
	position:static;
	z-index:3;
	left: 0.05%;
	right: 61.92%;
	top: 0.16%;
	bottom: 0.05%;
}

/*footer*/
footer{
	top: 13.74%;
	height:324.34px;
	background-color:#2F4858;
}

.content{
	 display:flex;
}

.bottom-logo{
	width:182px;
	height:182px;
	margin-left: 62px;
	margin-top: 73px;
}

#menu-options{
	position:static;
	margin-left:140px;
	margin-top:71px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
}

#biedriba{
	left: 47%;
	right: 31.99%;
	top: 18.62%;
	bottom: 75%;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;

}

#Gogulis{
	left: 66.47%;
	right: 4.69%;
	top: 24.73%;
	bottom: 63.3%;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	text-align: right;
}

#copyright-privpol{
	display:flex;
}

#copyright{
	margin-left:62px;
	margin-bottom:12px;
}

#soc-med{
	float:right;
m	argin-right:85px;
}

#Priv-pol{
	position: absolute;
	margin-bottom:20px;
	margin-left:1114px;
}